* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  font-family: Arial, Helvetica, sans-serif;
  color: #aaa;
  height: 100dvh;
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.hidden {
  display: none;
}

main {
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.form-group {
  gap: 1em;
  width: 320px;
}

.credintials {
  gap: .5em;
}
.form-group input, .form-group button {
  border-radius: 2em;
  height: 32px;
  border: none;
  color: #ccc;
  outline: none;
  background-color: #444;
  padding: 0 1em;
}
.form-group .active {
  border: 1px solid #f35;
}
.capslock-hint {
  justify-content: center;
  color: #fff;
}

.input-area {
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;
}
.input-preview {
  height: 40px;
  width: 200px;
  background-color: #222;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: .2em;
}
.preview-key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #444;
  width: 1.6em;
  height: 1.8em;
  transform: scale(1);
  transition: scale 2s ease;
}
.preview-key.active {
  background-color: #555;
  transform: scale(1.1);
  transition: scale 3s ease;
}

.keypad, .controls {
  padding: 1em 0;
  gap: 2px;

}
.keypad {
  flex-wrap: wrap;
  width: 200px;
  justify-content: center;
  margin: 0 2px;
}
.controls {
  width: 60px;
}
.key {
  justify-content: center;
  align-items: center;
  background-color: #444;
  border-radius: 4px;
  width: 60px;
  height: 40px;
  font-size: .8em;
  position: relative;
  overflow: hidden;
}
.key-btn {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
}